
html, body {
  background: #222;
  color: gold;
  font-family: sans-serif;
}

body {
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
}

img {
  height: 36px;
  width: auto;
  margin-right: .4rem;
  margin-left: -.4rem;
}

h1,h2,h3,h4,h5,h6, li::-moz-list-number {
  font-family: 'Exo 2', sans-serif;
}

header h2 {
  margin-top: 1rem;
}

li {
  text-transform: capitalize;
}